[Unit]
Description=DuckDNS IP Updater
After=network.target

[Service]
Type=oneshot
ExecStart=/home/ubuntu/rass-pypi-server/update-duckdns.sh
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target 